.print-only {
  display: none !important;
}

@media print {

  a,
  a:hover,
  b,
  h1,
  h2,
  h4,
  .roles {
    color: #000;
  }

  body {
    background-color: #fff;
    color: #000;
    font-family: Georgia, serif;
  }

  li em {
    color: #888;
  }

  .print-only {
    display: block !important;
  }

  .web-only {
    display: none !important;
  }

}
