[data-bs-theme="dark"] {
  --catppuccin-base: #24273a;
  --catppuccin-blue: #8aadf4;
  --catppuccin-flamingo: #f0c6c6;
  --catppuccin-green: #a6da95;
  --catppuccin-maroon: #ee99a0;
  --catppuccin-mauve: #c6a0f6;
  --catppuccin-pink: #f5bde6;
  --catppuccin-subtext-0: #a5adcb;
  --catppuccin-teal: #8bd5ca;
  --catppuccin-text: #cad3f5;
  --catppuccin-yellow: #eed49f;

  --bs-body-bg: var(--catppuccin-base);
  --bs-body-color: var(--catppuccin-text);
  --bs-border-width: 3px;
}

a {
  color: var(--catppuccin-flamingo);
  text-decoration: none;
}

a:hover {
  color: var(--catppuccin-maroon);
}

b, strong {
  color: var(--catppuccin-pink);
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h4 {
  font-family: "Source Serif 4", serif;
}

h1 {
  color: var(--catppuccin-green);
}

h2 {
  color: var(--catppuccin-blue);
}

h4 {
  color: var(--catppuccin-mauve);
}

li {
  margin-bottom: 5px;
}

.article {
  height: 80px;
  width: 120px; 
}

.certification-badge {
  height: 100px;
  width: 100px;
}

.experience-company {
  color: var(--catppuccin-flamingo);
}

.experience-duration {
  color: var(--catppuccin-subtext-0);
  font-weight: 300;
}

.achievement,
.experience-role {
  color: var(--catppuccin-yellow);
  font-weight: 600;
}

.profile-link {
  color: var(--catppuccin-blue);
}

.profile-picture {
  border-radius: 50%;
  height: 150px;
  overflow: hidden;
  width: 150px;
}

.profile-picture img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.roles {
  color: var(--catppuccin-teal)
}

.tags {
  color: var(--catppuccin-yellow);
}
